/* @import '~antd/lib/style/themes/default.less';
@import './utils.less'; */

.tableList .tableListOperator{
    margin-bottom: 16px;
}
.tableList .tableListOperator button{
    margin-right: 8px;
}
.tableList .ant-pro-table-alert {
    margin: 0 24px 16px;
}
.tableList .ant-table-cell .react-resizable {
    font-size: 10px;
    font-weight: bolder;
    color: #515151;
    text-transform: uppercase;
}
.tableList .ant-pro-table .ant-table-header tr:first-child>th:first-child {
    padding-left: 5px;
}
.tableList .ant-pro-table .ant-table-row .ant-table-cell:first-child {
    padding-left: 5px;
  }
.tableListForm .ant-form-item {
    margin-bottom: 24px;
    margin-right: 0;
    display: flex;   
}
.tableListForm .ant-form-item > .ant-form-item-label {
    line-height: 32px;
    padding-right: 8px;
    width : auto;
}
.tableListForm .ant-form-item > .ant-form-item-control {
    line-height: 32px;
}
.tableListForm .ant-form-item-control-wrapper {
    flex: 1;
}
.tableListForm .submitButtons {
    display: block;
    white-space: nowrap;
    margin-bottom: 24px;
}