@import '~antd/lib/style/themes/default.less';
@import '/utils.less';

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
  :global {
    .ant-pro-table-alert {
      margin: 0 24px 16px;
    }
    .ant-table-cell.react-resizable {
      font-size: 10px;
      font-weight: bolder;
      color: #515151;
      text-transform: uppercase;
    }
    .ant-pro-table .ant-table-header tr:first-child>th:first-child {
      padding-left: 5px;
    }

    .ant-pro-table .ant-table-row .ant-table-cell:first-child {
      padding-left: 5px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {

        line-height: 32px;
        padding-right: 8px;
        width : auto;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    display: block;
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
