﻿//color base
$color-white: #fff;
$color-blue: #4dc4e3;

//color site
$color-bg: $color-white;
$color-bg2: #ececec;
$color-link: $color-blue;
$color-link-hover: #0000ff;
$color-text: #333;
$color-border: #ddd;
$color-time: #999;
$color-link-voted: #FFD965;
$color-bg-voted: #92D050;
$color-shadow-1: #202763;

//color main
$color-primary: #02214f;
$color-secondary: #b8d43a;
$color-info: #17a2b8;
//$color-success: #28a745;
//$color-warning: #ffc107;
//$color-danger: #dc3545;
//$color-light: #f8f9fa;
//$color-dark: #343a40;

//color list
$color-black: #000;
$color-green-about: #288123;
$color-green: #37b030;
$color-green-shadow: #268e19;
$color-text-shadow: #f9c776;
$color-gray: #4a4a4a;
$color-text-count-shadow: #f8b852;
$color-title-h2: #032348;
//$color-indigo: #6610f2;
$color-purple: #1a0467;
//$color-pink: #e83e8c;
//$color-red: #dc3545;
//$color-orange: #fd7e14;
//$color-yellow: #ffc107;
//$color-green: #28a745;
//$color-teal: #20c997;
//$color-cyan: #17a2b8;
//$color-gray: #6c757d;
//$color-gray-dark: #343a40;

// Color Variables
// Bootstrap Color Overrides
$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;

$blue: #4e73df !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$orange: #fd7e14 !default;
$yellow: #f6c23e !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;


//width
$container-sm: 576px;
$container-sm-number: 576;
$container-md: 738px;
$container-md-number: 738;
$container-lg: 970px;
$container-lg-number: 970;
$container-xl: 1025px;
$container-xl-number: 1025;
$sidebar-collapsed-width: 6.5rem !default;

//grid size
$screen-xs: 0;
$screen-xs-min: $screen-xs;
$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

//grid size max
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

//font
$font-svnp: 'SVN-ProductSans';
$font-svnb: 'SVN-BebasNeueBold';
$font-lato: 'Lato',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto: 'Roboto',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto-condensed: 'Roboto Condensed','Roboto',Arial;
$font-open-sans: 'Open Sans','Roboto',Arial,sans-serif;
$font-awesome: 'FontAwesome';
$font-awesome-5-free: 'Font Awesome 5 Free';
$font-site: $font-svnp;
$font-muli: 'Muli', sans-serif;

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-sm: 14px;
$line-height-sm: 20px;


// Custom Colors
$brand-google: #ea4335 !default;
$brand-facebook: #3b5998 !default;

// Set Contrast Threshold
$yiq-contrasted-threshold: 195 !default;

// Typography
$body-color: $gray-600 !default;

$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-weight-light: 300 !default;
// $font-weight-base: 400;
$headings-font-weight: 400 !default;

// Shadows
$box-shadow-sm: 0 0.125rem 0.25rem 0 rgba($gray-900, .2) !default;
$box-shadow: 0 0.15rem 1.75rem 0 rgba($gray-900, .15) !default;
// $box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;

// Borders Radius
$border-radius: 0.35rem !default;
$border-color: darken($gray-200, 2%) !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$topbar-base-height: 4.375rem !default;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 14rem !default;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 6.5rem !default;

// Card
$card-cap-bg: $gray-100 !default;
$card-border-color: $border-color !default;

// Adjust column spacing for symmetry
$spacer: 1rem !default;
$grid-gutter-width: $spacer * 1.5 !default;

// Transitions
$transition-collapse: height .15s ease !default;

// Dropdowns
$dropdown-font-size: 0.85rem !default;
$dropdown-border-color: $border-color !default;

// Images
$login-image: 'https://source.unsplash.com/K4mSJ7kc0As/600x800' !default;
$register-image: 'https://source.unsplash.com/Mv9hjnEUHR4/600x800' !default;
$password-image: 'https://source.unsplash.com/oWTW-jNGl9I/600x800' !default;
