/*---------- example css ----------*/
/*name*/
// Sidebar
.sidebar {
    width: $sidebar-collapsed-width;
    min-height: 100vh;

    .nav-item {
        position: relative;

        &:last-child {
            margin-bottom: 1rem;
        }

        .nav-link {
            text-align: center;
            padding: 0.75rem 1rem;
            width: $sidebar-collapsed-width;

            span {
                font-size: 0.65rem;
                display: block;
            }
        }

        &.active {
            .nav-link {
                font-weight: 700;
            }
        }

        // Accordion
        .collapse {
            position: absolute;
            left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
            z-index: 1;
            top: 2px;
            // Grow In Animation
            @extend .animated--grow-in;

            .collapse-inner {
                border-radius: $border-radius;
                box-shadow: $box-shadow;
            }
        }

        .collapsing {
            display: none;
            transition: none;
        }

        .collapse,
        .collapsing {
            .collapse-inner {
                padding: .5rem 0;
                min-width: 10rem;
                font-size: $dropdown-font-size;
                margin: 0 0 1rem 0;

                .collapse-header {
                    margin: 0;
                    white-space: nowrap;
                    padding: .5rem 1.5rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 0.65rem;
                    color: $gray-500;
                }

                .collapse-item {
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    display: block;
                    color: $gray-900;
                    text-decoration: none;
                    border-radius: $border-radius;
                    white-space: nowrap;

                    &:hover {
                        background-color: $gray-200;
                    }

                    &:active {
                        background-color: $gray-300;
                    }

                    &.active {
                        color: purple;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    #sidebarToggle {
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        cursor: pointer;

        &::after {
            font-weight: 900;
            content: '\f104';
            font-family: 'Font Awesome 5 Free';
            margin-right: 0.1rem;
        }

        &:hover {
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }
    }

    &.toggled {
        width: 0 !important;
        overflow: hidden;

        #sidebarToggle::after {
            content: '\f105';
            font-family: 'Font Awesome 5 Free';
            margin-left: 0.25rem;
        }

        .sidebar-card {
            display: none;
        }
    }

    .sidebar-brand {
        height: $topbar-base-height;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        padding: 1.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        z-index: 1;

        .sidebar-brand-icon i {
            font-size: 2rem;
        }

        .sidebar-brand-text {
            display: none;
        }
    }

    hr.sidebar-divider {
        margin: 0 1rem 1rem;
    }

    .sidebar-heading {
        text-align: center;
        padding: 0 1rem;
        font-weight: 800;
        font-size: 0.65rem;
        @extend .text-uppercase;
    }

    .sidebar-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-size-sm;
        border-radius: $border-radius;
        color: fade-out($white, 0.2);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: fade-out($black, 0.9);
        .sidebar-card-illustration {
            height: 3rem;
            display: block;
        }
        .sidebar-card-title {
            font-weight: bold;
        }
        p {
            font-size: 0.75rem;
            color: fade-out($white, 0.5);
        }
    }
}

/*end name*/
//example responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end example responsive css
/*---------- end example css ----------*/